header {
	text-align: center;
}
footer {text-align:center;}
@font-face{
	font-family:'Hind Guntur';
	src: url("https://fonts.googleapis.com/css?family=Hind+Guntur");
}
.embeddedfont{
	font-family:'Hind Guntur', sans-serif;
}
th{
	font-size: large;
}
table{
	background-color:rgb(200,150,100);
}
.greenish{
	background-color:rgb(200,180,100);
}
.form{
	width:500px;
	height:500px;
	margin-left:100px;
}
label{
	font-weight:bold;
}
