/*header {
	text-align: center;*/
}
footer {text-align:center;}
@font-face{
	font-family:'Hind Guntur';
	src: url("https://fonts.googleapis.com/css?family=Hind+Guntur");
}
.embeddedfont{
	font-family:'Hind Guntur', sans-serif;
}
th{
	font-size: large;
}
.row{
	background-color:rgb(200,150,100);
}
.greenish{
	background-color:rgb(200,180,100);
}
.form{
	width:500px;
	height:500px;
	margin-left:100px;
}
label{
	font-weight:bold;
}
a{
text-decoration:underline;
font-weight:none;
}

a:link{
	color:blue;
}

a:visited{
	color:red;
}
a:hover{
	font-weight:bold;
}
a:active{
	text-decoration:none;
}

/*caption{
	font-size:large;
	font-weight: bold;
	text-decoration:underline;*/

}
.carousel-caption{
	color:black;
}