


td {
	text-align: center;
}

.Adele-25v3 {
	background-image: url(Adele-25v3.jpg);
	background-position: center;
	width: 400px;
	height:400px;
	margin-left: 450px;
}
@font-face{
	font-family:"Cover By Your Grace";
	src: url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

}
.embeddedfont {font-family: 'Cover By Your Grace', cursive;
}

p {
	text-align: center;
}

h1,h2{
text-align:center; 
}

li{
	font-style: italic;
}

a{
text-decoration: none;	
}

a:hover{
text-decoration: underline;
background-color: blue;
}

tbody{
	font-style:italic;
	background-color:rgb(66, 244, 185);
}
ins {
	text-decoration: none;
}