.albuminfo {
	display:block;
	margin-left: auto;
	margin-right:auto;
}

td {
	text-align: center;
}

img.Adele-25v2 {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

p {
	text-align: center;
}

h1,h2{
text-align:center; 
}