


td {
	text-align: center;
}

.Adele-25v3 {
	background-image: url(Adele-25v3.jpg);
	background-position: center;
	width: 400px;
	height:400px;
	margin-left: 450px;
}
@font-face{
	font-family:"Cover By Your Grace";
	src: url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

}
.embeddedfont {font-family: 'Cover By Your Grace', cursive;
}

p {
	text-align: center;
}

h1,h2{
text-align:center; 
}

li{
	font-style: italic;
}