


td {
	text-align: center;
}

@font-face{
	font-family:"Cover By Your Grace";
	src: url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

}
.embeddedfont {font-family: 'Cover By Your Grace', cursive;
}

p {
	text-align: center;
}

h1,h2{
text-align:center; 
}

li{
	font-style: italic;
}

a{
text-decoration: none;	
}

a:hover{
text-decoration: underline;
background-color: blue;
}

/*tbody{
	font-style:italic;
	background-color:rgb(66, 244, 185);
}

*/
ins {
	text-decoration: none;
}
.img-circle {
    border-radius: 50%;
